.root {
  width: 100%;
  height: 100%;
}

.root>div:first-child {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.root>div:first-child:hover {
  cursor: pointer;
}

.root>.boxLogin {
  margin: auto;
  margin-top: 10%;
  width: 24rem;
  height: fit-content;
  text-align: center;
  padding: 2.5rem;
  background-color: var(--mid-grey);
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxLogin>.header {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.boxLogin>.alert {
  margin-bottom: 0.5rem;
}

.text {
  margin-bottom: 1rem;
  text-align: left;
}

.submitButton {
  margin-top: 0.5rem;
  color: black !important;
  font-weight: 700 !important;
}