.root>label {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.root>select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}