.root {
  width: 23rem;
  height: 41rem;
  background-color: var(--white);
  margin-left: 1rem;
  margin-top: 1.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #C4C4C4;
}

.list {
  height: 100%;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list>div {
  padding: 0.75rem 1rem;
}

.list>div:hover {
  background-color: var(--hover-grey);
  cursor: pointer;
}

.close {
  cursor: pointer;
}