.root {
  width: 23rem;
  height: 41rem;
  background-color: var(--white);
  margin-left: 1rem;
  margin-top: 1.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 16rem;
}

.image>img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title {
  padding: 1rem 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
}

.title>div:first-child>p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 13rem;
}

.title>div:first-child>p:last-child {
  font-size: 1rem;
}

.title>div:first-child>p:last-child>span {
  margin-left: 0.25rem;
}

.title>div:first-child>p:last-child>span:hover,
.title>div:last-child:hover {
  cursor: pointer;
}

.title>div:last-child {
  padding: 0.75rem;
  background-color: var(--mid-grey);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
}

.desc {
  padding: 1rem 1rem;
}

.desc>div {
  display: grid;
  grid-template-columns: 3.75rem auto;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.desc>div>p:first-child {
  font-weight: 700;
}

.desc>p {
  margin-top: 1rem;
  text-align: justify;
  height: 7.5rem;
  overflow: auto;
}