.root {
  width: 23rem;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.root>div:first-child {
  padding: 1rem;
  background-color: var(--mid-grey);
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.searchInput>form>input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.resultBox {
  margin-top: 1.5rem;
  overflow: auto;
  height: 20rem;
}

.resultBox>div {
  background-color: var(--white);
  display: flex;
  padding: 1rem;
  cursor: pointer;
  max-width: 23rem;
}

.resultBox>div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.resultBox>div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.resultBox>div:hover {
  background-color: var(--hover-grey);
}

.resultBox>div>span {
  margin-right: 1rem;
}