.content {
  position: fixed;
  z-index: 2;
}

.buttonSign{
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  background-color: var(--mid-grey) !important;
  color: var(--white) !important;
}

.buttonSign>span {
  margin-left: 0.5rem;
}

.multiply {
  position: fixed;
  right: 0;
  display: flex;
}