@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

.leaflet-container {
  width: 100%;
  height: 100vh;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #00000000;
  --black-default: #434A42;
  --grey: #626C66;
  --secondary-grey: #6B8E84;
  --mid-grey: #918B76;
  --sage: #ACA885;
  --wheat: #E1CA96;
  --white: #FFFFFF;

  font-size: calc(100vw * 16 / 1440);
}