.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.header>div:first-child>svg {
  margin-right: 0.5rem;
}

.header>div:first-child {
  display: flex;
  justify-content: space-between;
}

.header>div:first-child>p {
  font-size: 1.5rem;
  font-weight: 700;
}

.content > div:first-child {
  margin-bottom: 1rem;
  width: 20rem;
  float: right;
}

.searchBox>form>input {
  border: 1px solid var(--mid-grey);
  border-radius: 5px;
  padding: 0.5rem;
}

.buttonAdd {
  background-color: var(--mid-grey) !important;
  color: var(--white) !important;
}

.clickable {
  cursor: pointer;
}

.content>table {
  margin-bottom: 1rem;
}